<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script type="text/javascript" src="/js/script.js"></script>          
    <title>Sinatra Base</title>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
